.glyphicon_svg
  position: absolute
  top: 50%
  z-index: 5
  display: inline-block
.carousel-inner>.item>img, .img-responsive
  margin: auto
@media (min-width: 768px)
  .carousel-inner>.item>img, .img-responsive
    height: 40vh
